<h1>Create a New Answer</h1>
  
<%= form_for [@question, @answer] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :correctness %>
  <%= f.check_box :correctness %>

  <%= f.submit "Create Answer" %>
<% end %>